.contentText {
  font-size: 0.875rem;
  color: #757575;
  font-weight: 400;
  line-height: 1.40;
}

.actionContainer {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.actionStatus {
  font-size: 0.875rem;
  color: #757575;
  font-weight: 400;
  line-height: 1.40;
  margin-left: 0.5rem;
}

.actionIcon {
  color: #757575;
  font-size: 0.975rem;
}
