/* AvatarWithBackground */
.box {
  position: relative;
}

.coverImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.bottomLeft {
  position: absolute;
  bottom: -60px;
  left: 20px;
}

.userProfileContainer {
  padding: 0px;
  background-color: #F5F8FA;
  max-width: 1000px;
}

.buttonContainer {
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
}

.followButton {
  color: white;
  background-color: #3f51b5; /* The primary color of Material-UI */
  border-radius: 20px;
}

/* infoContainer */
.infoContainer {
  margin: 10px;
}

.userName {
  font-size: 20px;
  font-weight: 700;
}

.userAccountName {
  color: #657786;
  font-size: 15px;
  font-weight: 400;
}

.userNoteContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.userNote {
  color: #14171A;
  font-size: 16px;
}

.counts {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.counts p:not(:last-child) {
  margin-right: 20px;
}

.timelineContainer {
  margin-top: 20px;
}

.infoType {
  color: #79858e;
  font-size: 14px;
}
